.flyoutWrap {
  position: absolute;
  bottom: -40px;
  left: -130px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  width: 300px;
  cursor: pointer;
  background-color: lightgray;
  border-radius: 4px;
  padding: 10px;
  z-index: 10;
}
